.content {
  min-width: 1106px;
}
.content .content-title {
  height: 36px;
  line-height: 26px;
  margin-left: 1em;
  font-size: 16px;
  color: #535f6b;
}
.content .content-body {
  position: relative;
}
.content .content-body .top-wrapper {
  padding: 20px 20px 5px;
  background-color: #fff;
  margin-bottom: 1px;
}
.content .content-body .top-wrapper .title {
  height: 18px;
  line-height: 18px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #202133;
  border-left: 4px solid #2e59bd;
}
.content .content-body .top-wrapper .search-bar {
  margin: 30px 15px;
  border-radius: 4px;
  font-size: 14px;
  color: #535f6b;
}
.content .content-body .top-wrapper .search-bar input {
  width: 200px;
  height: 40px;
  border: 1px solid #a4b5c7;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 20px 0 5px;
  font-size: 14px;
  text-indent: 10px;
  color: #202133;
}
.content .content-body .top-wrapper .search-bar input:focus {
  border: 1px solid #535f6b;
}
.content .content-body .top-wrapper .search-bar button {
  width: 60px;
  height: 40px;
  color: #fff;
  background-color: rgba(32,33,51,0.7);
  border-radius: 4px;
  margin-right: 10px;
}
.content .content-body .area-tree {
  position: absolute;
  top: 144px;
  width: 300px;
  height: 710px;
  background-color: #fff;
  border-radius: 4px;
}
.content .content-body .table-wrapper {
  position: absolute;
  left: 301px;
  background-color: #fff;
  height: 670px;
  padding-top: 40px;
}
.content .content-body .table-wrapper table {
  width: 90%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
.content .content-body .table-wrapper table thead {
  color: #fff;
  background-color: rgba(32,33,51,0.8);
  font-size: 16px;
  border-left: 1px solid rgba(32,33,51,0.8);
}
.content .content-body .table-wrapper table thead tr {
  padding-left: 40px;
  height: 50px;
}
.content .content-body .table-wrapper table tbody {
  font-size: 14px;
  color: #535f6b;
  border-left: 1px solid rgba(164,181,199,0.5);
}
.content .content-body .table-wrapper table tbody tr {
  height: 40px;
  border-bottom: 1px solid rgba(164,181,199,0.5);
}
.content .content-body .table-wrapper table tbody tr td {
  border-right: 1px solid rgba(164,181,199,0.5);
}
.content .content-body .table-wrapper table tbody tr td:last-of-type {
  width: 240px;
}
.content .content-body .table-wrapper table tbody tr td:last-of-type button {
  width: 60px;
  height: 30px;
  color: #2e59bd;
  border: 1px solid rgba(164,181,199,0.5);
  border-radius: 4px;
  margin-right: 15px;
}
.content .content-body .table-wrapper .page-bar {
  bottom: 80px;
}
.add-edit-pop {
  display: none;
  position: absolute;
  width: 480px;
  height: 340px;
  left: 50%;
  top: 500px;
  border: 1px solid;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: #535f6b;
  background-color: #fff;
}
.add-edit-pop .pop-title {
  position: absolute;
  height: 42px;
  width: 100%;
  line-height: 42px;
  font-size: 18px;
  font-weight: bold;
  color: #2e59bd;
  border-bottom: 1px solid #2e59bd;
}
.add-edit-pop .pop-title i {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 28px;
  height: 22px;
}
.add-edit-pop .pop-title i.add-lift {
  background: url("../img/lifts_manage_sprite.png") -585px 0;
}
.add-edit-pop .pop-title i.edit-lift {
  background: url("../img/lifts_manage_sprite.png") -613px 0;
}
.add-edit-pop .pop-title .pop-title-content {
  padding-left: 50px;
}
.add-edit-pop .pop-title .close-btn {
  position: absolute;
  top: 7px;
  right: 20px;
  width: 28px;
  height: 28px;
  background: url("../img/user_pop_sprite.png") -132px 1px;
  border-radius: 50%;
}
.add-edit-pop .pop-body {
  margin-top: 73px;
  font-size: 15px;
}
.add-edit-pop .pop-body > div {
  position: relative;
  left: 69px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 10px;
}
.add-edit-pop .pop-body > div span {
  display: flex;
  align-items: center;
  color: #535f6b;
}
.add-edit-pop .pop-body > div span.required {
  position: absolute;
  top: 11px;
  left: -9px;
  color: #f00;
}
.add-edit-pop .pop-body > div span.error {
  display: none;
  position: absolute;
  top: 10px;
  right: -125px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  font-size: 13px;
  color: #fff;
  border-radius: 12px;
}
.add-edit-pop .pop-body > div input {
  width: 225px;
  height: 40px;
  margin-left: 20px;
  color: #535f6b;
  font-size: 15px;
  text-indent: 10px;
  border: 1px solid #a4b5c7;
  border-radius: 6px;
}
.add-edit-pop .pop-body > div input.model-name {
  background: #e0e6f6;
}
.add-edit-pop .pop-body > div input:focus {
  border: 1px solid #535f6b;
}
.add-edit-pop .pop-body > div input::-webkit-input-placeholder {
  color: #535f6b;
}
.add-edit-pop .pop-body > div input::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: #535f6b;
}
.add-edit-pop .pop-body > div input:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #535f6b;
}
.add-edit-pop .pop-body > div input:-ms-input-placeholder {
/* Internet Explorer 10-11 */
  color: #535f6b;
}
.add-edit-pop .pop-body > div ul {
  display: none;
}
.add-edit-pop .pop-body > div ul.show-select {
  display: block;
  position: absolute;
  right: 0;
  top: 38px;
  width: 226px;
  color: #fff;
  background-color: rgba(35,36,53,0.9);
  z-index: 77;
  border-radius: 0 0 4px 4px;
}
.add-edit-pop .pop-body > div ul.show-select li {
  display: flex;
  text-indent: 10px;
  margin: 5px 0;
}
.add-edit-pop .pop-body > div ul.show-select li:hover {
  background-color: #2e59bd;
}
.add-edit-pop .pop-body > div ul.show-select li input {
  width: 15px;
  margin: 5px 5px 0 20px;
}
.add-edit-pop .pop-body > div ul.show-select li span {
  color: #fff;
}
.add-edit-pop .pop-body > div .select-down {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
  background: url("../img/select_down.png") no-repeat 5px 15px;
  -webkit-background-size: 40%;
  background-size: 40%;
}
.add-edit-pop .confirm-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 42px;
}
.add-edit-pop .confirm-btn button {
  width: 80px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}
.add-edit-pop .confirm-btn button.submit-user-info {
  color: #fff;
  background-color: #2e59bd;
  margin-left: 110px;
}
.add-edit-pop .confirm-btn button.close-btn {
  color: #535f6b;
  background-color: rgba(83,95,107,0.2);
}
.treeBox {
  padding: 0;
  margin: 20px 0 0 30px;
  position: absolute;
  overflow: hidden;
  height: 680px;
  width: 270px;
}
.treeBox .ztree {
  margin: 0;
  padding: 0;
}
.treeBox .ztree li {
  padding: 4px 0;
}
.treeBox .ztree li span {
  font-size: 18px;
}
.treeBox .ztree li span.noline_close {
  background: url("../img/lifts_manage_sprite.png") -428px 3px;
}
.treeBox .ztree li span.noline_open {
  background: url("../img/lifts_manage_sprite.png") -672px 6px;
}
