<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>政府年度检验记录</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/company_annual_check_record.css">
</head>
<body>
<div class="app" id="company-annual-check">
    <nav id="nav"></nav>
    <div class="wrapper" id="wrapper">
        <header id="header"></header>

        <!--遮罩层-->
        <!--一定要放在 .content 前面-->
        <div id="cover"></div>

        <div class="content" id="content">
            <div class="content-title">
                <span>政府年度检验记录</span>
            </div>
            <div class="content-body">
                <div class="top-wrapper">
                    <div class="title">政府年度检验记录列表</div>
                    <div class="search-bar">
                        <span>设备注册代码</span><input type="text" v-model="registerCode">
                        <span>设备内部编号</span><input type="text" v-model="insideCode">
                        <button @click="getRecords()"
                                :class="{inputFocus:registerCode||insideCode}">查询
                        </button>
                        <button @click="registerCode=insideCode=''"
                                :class="{inputFocus:registerCode||insideCode}">重置
                        </button>
                    </div>
                </div>
                <div class="table-wrapper">
                    <div class="button-group">
                        <div @click="openAddAnnualRecord()">新增
                        </div>
                        <div @click="openEditPop">修改</div>
                        <div @click="openDelete()">删除</div>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>设备注册码</th>
                            <th>设备内部编号</th>
                            <th>电梯使用小区</th>
                            <th>年检时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item of checkRecords" :key="item.record_id">
                            <td>
                                <input type="checkbox" :id=item.record_id>
                                <label :for=item.record_id @click="getRecordId"></label>
                            </td>
                            <td v-cloak>{{item.id_nr}}</td>
                            <td v-cloak>{{item.unit_id}}</td>
                            <td v-cloak>{{item.user}}</td>
                            <td v-cloak>{{item.next_annual_inspection_date }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--翻页-->
                    <ul class="page-bar" id="page-bar">
                        <li class="first-page" id="first-page">首页</li>
                        <li class="pre-page" id="pre-page">上一页</li>
                        <li class="current-page">
                            <span id="current-page">1</span>/<span id="total-page"></span>
                        </li>
                        <li class="next-page" id="next-page">下一页</li>
                        <li class="last-page" id="last-page">尾页</li>
                        <li class="total-page" id="total-data"></li>
                        <li class="jump-into">
                            跳转到 <input type="text" id="input-page"> 页
                            <button id="jump-into">GO</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--个人设置弹窗-->
        <!--每个弹窗顶部都要有 .close-pop -->
        <div class="user-info-pop close-pop show-pop" id="user-info-pop">
            <div class="pop-title">
                <i></i><span class="pop-title-content">个人设置</span>
                <div class="select-tab">
                    <span id="user-info-tab" class="active" onclick="togglePopBody(this)">个人信息</span>
                    <span id="user-pwd-tab" onclick="togglePopBody(this)">密码修改</span>
                </div>
                <div class="close-btn" onclick="closeBtn(this,'user-info-pop')"></div>
            </div>
            <div class="pop-body">
                <div class="pop-user-avatar">
                    <div class="avatar-img"></div>
                    <div class="name" id="user-name"></div>
                    <div class="role-name" id="role-name"></div>
                </div>
                <div id="pop-user-info" class="pop-user-info active">
                    <div>
                        <span>姓名</span>
                        <input type="text" placeholder="请输入姓名" id="pop-full-name"
                               onblur="notEmpty(this)">
                        <span class="user-info-error not-empty">*此处不能为空</span>
                    </div>
                    <div>
                        <span>性别</span>
                        <select id="pop-gender">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <div>
                        <span>手机</span>
                        <input type="text" placeholder="请输入手机号码" id="pop-phone"
                               onblur="checkPhone(this,'user-info-error')">
                        <span class="user-info-error" id="user-info-error">*请输入正确的手机号码</span>
                    </div>
                    <div>
                        <span>邮箱</span>
                        <input type="text" placeholder="请输入邮箱地址" id="pop-email"
                               onblur="checkEmail(this,'email-error')">
                        <span class="user-info-error" id="email-error">*请输入正确的邮箱地址</span>
                    </div>
                </div>
                <div id="pop-user-pwd" class="pop-user-pwd">
                    <div>
                        <span>旧&nbsp;密&nbsp;&nbsp;码</span>
                        <input type="password" placeholder="请输入旧密码" id="old-pwd">
                    </div>
                    <div>
                        <span>新&nbsp;密&nbsp;&nbsp;码</span>
                        <input type="password" placeholder="请输入新密码" id="new-pwd">
                    </div>
                    <div>
                        <span>确认密码 </span>
                        <input type="password" placeholder="请再次输入新密码" id="confirm-new-password"
                               onblur="confirmPwd(this)">
                        <span class="user-info-error" id="new-pwd-error">*输入密码与新密码不一致</span>
                    </div>
                </div>
            </div>
            <div class="confirm-btn">
                <button class="submit-user-info" id="submit-user-info" data-btn="information"
                        onclick="distinguishSubmit(this)"></button>
                <button class="close-btn" onclick="closeBtn(this,'user-info-pop')"></button>
            </div>
        </div>

        <!--警报弹窗-->
        <div class="close-pop show-pop delete-pop alarm-pop" id="alarm-pop">
            <div class="pop-title">
                <div>故障</div>
                <div class="close-btn" onclick="closeBtn(this,'alarm-pop')"></div>
            </div>
            <div class="pop-body">
                <table>
                    <tr>
                        <td>设备注册代码</td>
                        <td id="alarm-pop-register-code"></td>
                    </tr>
                    <tr>
                        <td>设备安装地址</td>
                        <td id="alarm-pop-install-addr"></td>
                    </tr>
                    <tr>
                        <td>设备内部编号</td>
                        <td id="alarm-pop-inside-code"></td>
                    </tr>
                    <tr>
                        <td>设备当前楼层</td>
                        <td id="alarm-pop-current-floor"></td>
                    </tr>
                    <tr>
                        <td>电梯是否有人</td>
                        <td id="alarm-pop-anybody"></td>
                    </tr>
                    <tr>
                        <td>关门是否到位</td>
                        <td id="alarm-pop-whether-close"></td>
                    </tr>
                </table>
            </div>
            <div class="confirm-btn">
                <button class="close-btn" id="confirm-alarm-btn"
                        onclick="closeBtn(this,'alarm-pop')
                                 confirmAlarm(this)">
                    报警实时运行状态确认
                </button>
            </div>
        </div>

        <!--新增或修改弹窗-->
        <div class="add-edit-pop close-pop show-pop government-check-pop" id="annual-check-pop">
            <div class="pop-title">
                <div v-if="isAddBtn">
                    <i class="add-lift"></i>
                    <span class="pop-title-content">新增政府年度检验记录</span>
                </div>
                <div v-else>
                    <i class="edit-lift"></i>
                    <span class="pop-title-content">修改政府年度检验记录</span>
                </div>
                <div class="close-btn"
                     onclick="closeBtn(this,'annual-check-pop')
                     governmentAnnualCheckVM.filesArr=[]"></div>
            </div>
            <div class="pop-body">
                <div class="select-community">
                    <span><span class="required">*</span>电梯使用小区</span>
                    <input type="text" v-model="selectedName"
                           @click="showSelect=!showSelect">
                    <i class="select-down" @click="showSelect=!showSelect"></i>
                    <ul :class="{'show-select':showSelect}">
                        <li v-for="item of userCommunities" :key="item.id"
                            :id="item.id" v-cloak
                            @click="selectCommunity(item.id,item.name)">
                            {{item.name}}
                        </li>
                    </ul>
                </div>

                <div class="select-time"><span><span class="required">
                    *</span>年检时间</span>
                    <input id="select-company-check-time" v-model="checkTime"
                           placeholder="点击选择时间" type="text">
                </div>

                <div class="select-lifts">
                    <div><span class="required">*</span>选择电梯</div>
                    <div class="table-header">
                        <table>
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>设备注册码</th>
                                <th>设备内部编号</th>
                                <th>电梯使用小区</th>
                                <th>年检时间</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body">
                        <table>
                            <tbody>
                            <tr v-for="lift of popLifts" :key="lift.id_nr">
                                <td>
                                    <input type="radio" name="lift"
                                           :id="lift.lift_id">
                                    <label @click="selectLift"
                                           :for="lift.lift_id"
                                           :data-lift_id="lift.lift_id">
                                    </label>
                                </td>
                                <td v-cloak>{{lift.id_nr}}</td>
                                <td v-cloak>{{lift.unit_id}}</td>
                                <td v-cloak>{{lift.user}}</td>
                                <td v-cloak>{{lift.mon}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="scanning-copy">
                    <div><span class="required">*</span>政府年度检验记录扫描件</div>
                    <div class="img-list" id="img-list">
                        <ul>
                            <li v-for="file of downloadFiles" class="upload-files-preview xxx">
                                <button class="delete-btn" @click="openDeleteFile(file.url)">
                                    删除
                                </button>
                                <span :title="file.name" v-cloak>{{file.name}}</span>
                            </li>
                            <li v-for="file of filesArr" class="upload-files-preview">
                                <button class="delete-btn" @click="deleteImgBefore()">
                                    删除
                                </button>
                                <span v-cloak>{{file.name}}</span>
                            </li>
                            <li class="add-img-btn" id="add-img-btn">
                                <div>
                                    添加文件
                                    <input id="add-img" type="file" accept=".pdf" multiple>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-wrapper">
                    <div class="next-check-time">
                        <div><span class="required">*</span>下次年检时间</div>
                        <input type="text" id="next-check-time">
                    </div>
                    <div class="check-status">
                        <div><span class="required">*</span>年检状态</div>
                        <span><input type="radio" name="status" data-value="0" @click="getCheckStatus">不合格</span>
                        <span><input type="radio" name="status" data-value="1" @click="getCheckStatus">合格</span>
                    </div>
                </div>
                <div class="confirm-btn">
                    <button class="close-btn"
                            onclick="closeBtn(this,'annual-check-pop')
                            governmentAnnualCheckVM.filesArr=[]">取消
                    </button>
                    <button class="submit-user-info" @click="submitInfo()">确认</button>
                </div>
            </div>
        </div>

        <!--删除弹窗-->
        <div class="close-pop show-pop delete-pop" id="delete-pop">
            <div class="pop-title">
                <div>提示信息</div>
                <div class="close-btn" onclick="closeBtn(this,'delete-pop')"></div>
            </div>
            <div class="pop-body">
                <p id="delete-text">确认删除该设备？</p>
            </div>
            <div class="confirm-btn">
                <button class="close-btn" onclick="closeBtn(this,'delete-pop')">取消</button>
                <button class="submit-user-info" @click="confirmDeleteLift(selectedUrl)">确认</button>
            </div>
        </div>

        <!--二级弹窗-->
        <!--除了closeBtn()的参数，不要更改二级弹窗的HTML-->
        <!--每个页面只放一个，具体内容可用secondPop()传入-->
        <div class="success-pop close-pop show-second" id="result-pop">
            <div class="result-img" id="result-pop-bg"></div>
            <div class="success-content">
                <span id="operation-result"></span>
            </div>
            <button class="second-close-btn" onclick="closeBtn(this)"></button>
        </div>

        <!--加载中动画-->
        <div id="loading" class="loading">
            <img src="../img/loading.png" alt="">
            <p>加载中</p>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../dist/js/general.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="../dist/lib/laydate/laydate.js"></script>
<script src="../dist/js/government_annual_check.js"></script>
</body>
</html>